.banner{
    position: relative;
    height: 90vh;
    background-image: url(../assets/image/300759.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


.banner> .opacity{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0,0.407);
}

@media(max-width:575.97px){
    .title_benner{
        font-size: 60px !important;
    }
    .benner{
        height: 92vh;
    }
}

@media(min-width:575.98px){
    .title_benner{
        font-size: 80px !important;
    }
    .benner{
        height: 90vh;
    }
}